SYNC_S3_BUCKET=shopili.net
SYNC_CLOUDFRONT_DISTRUBTION_ID=E2L2UIF3451MUS
SYNC_BUILD_DIR=<%= ENV['THEIA_WORKSPACE_ROOT'] %>/frontend-react-js/build
SYNC_OUTPUT_CHANGESET_PATH=<%=  ENV['THEIA_WORKSPACE_ROOT'] %>/tmp
SYNC_AUTO_APPROVE=false